<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollable Background with Canvas PNG</title>
    <link rel="stylesheet" href="static/css/about.css">
    <style>
        /* Additional styles */
        .container2 {
            height: 2000px; /* Adjust the height to make the page scrollable */
        }
    </style>
</head>
<body>
    <div class="container2">
        AAAAAAAAAAAAAAAAAAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAA
      
        <script>
            window.addEventListener('scroll', function() {
                var scrollPosition = window.scrollY;
                var container = document.querySelector('.container');
                container.style.backgroundPositionY = -scrollPosition + 'px';
            });
        </script>
</body>


</html>