<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastel Purple Website</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="container">
        <h1>EMPOWER HER</h1>
        <div class="about-link">
            <a href="/about">About Us</a>
        </div>

        <div class="options">
            <div class="option">Option 1</div>
            <div class="option">Option 2</div>
            <div class="option">Option 3</div>
        </div>
    </div>
</body>
</html>
