/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2e6ff; /* pastel purple background color }*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover; /* Cover the entire viewport */
    background-position: top; /* Center the background image */
}

.image-logo {
    width: 700px;
    height: 300px;
    background-image: url('logo.png'); /* Replace 'image.jpg' with your image path */   

    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;

    padding: 10px; /* or padding: 10px 5px; to set different paddings for top/bottom and left/right */

    /* Adjust the padding as needed */

}



.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px; /* Adjust this value to center vertically */
}

h1 {
    font-family: 'Poppins', sans-serif; /* Apply a nice font */
    font-size: 5em; /* Adjust the font size */
    color: #333; /* Text color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a faint shadow */
}
.options {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the items horizontally */
    margin-top: 50px;
}

.option {
    border: 4px solid rgb(142, 105, 126);
    width: 10%; /* Adjust this value for option width */
    padding: 100px;
    background-color: #f9cee4; /* Lighter shade of purple */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-left: 30px; /* Adjust as needed */
}

.option:hover {
    background-color: #f5eaf1; /* Darker shade of purple on hover */
    color: rgb(10, 0, 0);
}


.about-link {
    text-align: center;
    margin-top: 20px;
}

.about-link a {
    color: #6a0dad; /* Purple text color */
    text-decoration: none; /* Remove underline from the link */
}

.about-link a:hover {
    text-decoration: underline; /* Add underline on hover */
}